.highlight {
    background: #ffffff;

    .hll {
        background-color: #ffffcc;
    }

    /* Comment */
    .c {
        color: #008000;
    }

    /* Error */
    .err {
        border: 1px solid #FF0000;
    }

    /* Keyword */
    .k {
        color: #0000ff;
    }

    /* Comment.Hashbang */
    .ch {
        color: #008000;
    }

    /* Comment.Multiline */
    .cm {
        color: #008000;
    }

    /* Comment.Preproc */
    .cp {
        color: #0000ff;
    }

    /* Comment.PreprocFile */
    .cpf {
        color: #008000;
    }

    /* Comment.Single */
    .c1 {
        color: #008000;
    }

    /* Comment.Special */
    .cs {
        color: #008000;
    }

    /* Generic.Emph */
    .ge {
        font-style: italic;
    }

    /* Generic.Heading */
    .gh {
        font-weight: bold;
    }

    /* Generic.Prompt */
    .gp {
        font-weight: bold;
    }

    /* Generic.Strong */
    .gs {
        font-weight: bold;
    }

    /* Generic.Subheading */
    .gu {
        font-weight: bold;
    }

    /* Keyword.Constant */
    .kc {
        color: #0000ff;
    }

    /* Keyword.Declaration */
    .kd {
        color: #0000ff;
    }

    /* Keyword.Namespace */
    .kn {
        color: #0000ff;
    }

    /* Keyword.Pseudo */
    .kp {
        color: #0000ff;
    }

    /* Keyword.Reserved */
    .kr {
        color: #0000ff;
    }

    /* Keyword.Type */
    .kt {
        color: #2b91af;
    }

    /* Literal.String */
    .s {
        color: #a31515;
    }

    /* Name.Class */
    .nc {
        color: #2b91af;
    }

    /* Operator.Word */
    .ow {
        color: #0000ff;
    }

    /* Literal.String.Affix */
    .sa {
        color: #a31515;
    }

    /* Literal.String.Backtick */
    .sb {
        color: #a31515;
    }

    /* Literal.String.Char */
    .sc {
        color: #a31515;
    }

    /* Literal.String.Delimiter */
    .dl {
        color: #a31515;
    }

    /* Literal.String.Doc */
    .sd {
        color: #a31515;
    }

    /* Literal.String.Double */
    .s2 {
        color: #a31515;
    }

    /* Literal.String.Escape */
    .se {
        color: #a31515;
    }

    /* Literal.String.Heredoc */
    .sh {
        color: #a31515;
    }

    /* Literal.String.Interpol */
    .si {
        color: #a31515;
    }

    /* Literal.String.Other */
    .sx {
        color: #a31515;
    }

    /* Literal.String.Regex */
    .sr {
        color: #a31515;
    }

    /* Literal.String.Single */
    .s1 {
        color: #a31515;
    }

    /* Literal.String.Symbol */
    .ss {
        color: #a31515;
    }
}